<h1>Listing workouts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.title, workout %></td>
        <td><%= workout.type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
