<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Move</th>
      <th>Repetitions</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= link_to result.move.name, result %></td>
        <td><%= result.repetitions %></td>
        <td><%= result.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
